*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Georgia,serif;
background:linear-gradient(180deg,#fff8f8,#fffdf9,#ffeef2);
color:#444;
overflow-x:hidden;

}

/*========================*/
/* PORTADA */
/*========================*/

.hero{

height:100vh;

background:
linear-gradient(rgba(120,20,40,.25),rgba(60,0,30,.18)),
url("portada.jpg");

background-size:cover;
background-position:center;
background-repeat:no-repeat;

background-size:cover;

background-position:center;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

color:white;

}

.overlay{

animation:aparecer 1.5s;

}

.hero h1{

font-size:65px;

margin-bottom:20px;

font-family:cursive;

text-shadow:3px 3px 10px black;

}

.hero p{

font-size:30px;

margin-bottom:40px;

}

.btn{

display:inline-block;
padding:18px 45px;
border-radius:50px;

background:linear-gradient(45deg,#ff4d6d,#ff1744);

color:white;

font-size:20px;

font-weight:bold;

text-decoration:none;

cursor:pointer;

border:none;

transition:.4s;

box-shadow:0 0 25px rgba(255,0,80,.45);

}
.btn:hover{

transform:scale(1.08);

background:linear-gradient(45deg,#ff1744,#d50000);

box-shadow:0 0 35px rgba(255,0,0,.6);

}

section{

padding:70px 20px;

text-align:center;

}

video{

width:95%;

max-width:430px;

border-radius:20px;

box-shadow:0 15px 40px rgba(0,0,0,.35);

}

.card{

background:rgba(255,255,255,.95);
backdrop-filter:blur(10px);
border:2px solid #ffe0e6;

width:90%;

max-width:700px;

margin:auto;

margin-top:50px;

border-radius:20px;

padding:40px;

box-shadow:0 15px 35px rgba(0,0,0,.15);

}

.card h2{

font-size:36px;

margin-bottom:25px;

color:#c2185b;

}

#contador{

font-size:35px;

font-weight:bold;

margin:30px 0;

color:#ff1744;

}

.card p{

font-size:22px;

margin:15px;

}

.galeria{

display:flex;

flex-wrap:wrap;

justify-content:center;

gap:20px;

}

.galeria img{

width:250px;

height:250px;

object-fit:cover;

border-radius:20px;

transition:.5s;

box-shadow:0 10px 25px rgba(0,0,0,.2);

}

.galeria img:hover{

transform:scale(1.05);

}

footer{

margin-top:70px;

background:#222;

color:white;

padding:30px;

font-size:18px;

}

@keyframes aparecer{

from{

opacity:0;

transform:translateY(60px);

}

to{

opacity:1;

transform:translateY(0);

}

}

@media(max-width:768px){

.hero h1{

font-size:45px;

}

.hero p{

font-size:22px;

}

.btn{

font-size:18px;

padding:15px 30px;

}

.card h2{

font-size:28px;

}

#contador{

font-size:28px;

}

.card p{

font-size:18px;

}

.galeria img{

width:90%;

height:auto;
.logo{

width:140px;

margin-bottom:25px;

filter:drop-shadow(0 0 15px rgba(255,255,255,.6));

animation:flotar 3s ease-in-out infinite;

}

@keyframes flotar{

0%{
transform:translateY(0);
}

50%{
transform:translateY(-8px);
}

100%{
transform:translateY(0);
}

}  

}

}
